name: SonarCloud Scan

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [aee5]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectKey: moonshinerd_yt-dlp
          organization: moonshinerd
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
